<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="testsize.css" />
    <title>Document</title>
</head>
<body>
    <div class="imgbox">
        <label id="sample1">
            <img src="../img/nnn.png" width = "270",height = "200">
        </label>
        <img src="../img/nnn.png" width = "270",height = "200">
        <img src="../img/nnn.png" width = "270",height = "200">
        <img src="../img/nnn.png" width = "270",height = "200">
        <img src="../img/nnn.png" width = "270",height = "200">
        <img src="../img/nnn.png" width = "270",height = "200">
    </div>
    <div class="setmessage">
        <input class="textbox">
        <button class="sendbutton">送信</button>
        <button class="Rebutton">再送信</button>
    </div>
</body>
</html>